.chooseplan-page .product-container {
	border: 1px solid blue;
	margin: 20px;
}

.chooseplan-page .plans-container {
	border: 1px solid greenyellow;
	margin: 10px;
}

.chooseplan-page .plan-container {
	margin: 20px;
}
