.browseBooks {
	display: flex;
	flex-direction: row;
  justify-content:space-around;
  align-items: flex-end;
  // .genreMenu {
  //   margin: 5px;
  // }
  // .booksGridContainer {
  //   max-width: 800px;
  // }
  .filterOption:hover {
    cursor: pointer;
  }
}

// .menusContainer {
// 	width: 100%;
// 	display: flex;
// 	justify-content: flex-start;
// }



