@import '../main.scss';

.navbar {
	width: 100%;
	padding: 20px 0;
	z-index: 1100;
}

.navBarContents {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $purpleStuff;
}

.appName {
  color:$activeLinkGray;
	// margin: 0;
}
