@import '../colors.scss';
.navLinksNonAuth {
	width: 50%;
	min-width: 250px;
	display: flex;
	align-items: center;
	justify-content: space-around;
  color: #fff;
}

.navLink {
	text-decoration: none;
	color: #fff;
	margin: 5px;
}

.navLink:hover {
  transition: all 0.5s ease;
  color: $hoverLinkOrange;
  font-weight: 500;
}
