.browseBooks {
  display: flex;
  justify-content: space-around;
  // .genreMenu {
  //   margin: 5px;
  // }
  // .booksGridContainer {
  //   max-width: 800px;
  // }
  .filterOption:hover {
    cursor: pointer;
  }
}

@media (max-width: 1100px) {
  .browseCatsContainer {
    flex-direction: column;

    .gridContainer {
      display: flex;
      flex-wrap: wrap;
      //   margin-left: auto;
      //   margin-right: auto;
    }
  }
}

// .menusContainer {
// 	width: 100%;
// 	display: flex;
// 	justify-content: flex-start;
// }
