.menuContainer {
  // position: fixed;
  // top: 100px;
  width: 275px;
  padding: 10px;
  display: flex;
  flex-flow: column;
}

.filterOption {
  display: block;
  text-decoration: none;
  color: black;

  &:hover {
    cursor: pointer;
    color: blue;
  }
}
