@import 'styles/main.scss';

.SingleBookPage {
	display: flex;
	flex-direction: column;
	margin: 5px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	height: 300px;
	width: 250px;
	@include phone-portrait {
		width: 100%;
		height: 177px;
		margin: 10px 0;
	}
}

.header {
	position: relative;
	height: 55%;
	overflow-y: hidden;
}

.bookImage {
	width: 100%;
	height: auto;
	position: absolute;
	top: -30%;
	left: 0px;
	@include phone-portrait {
		width: initial;
	}
}

.titleText {
	position: absolute;
	bottom: 0px;
	left: 0px;
	max-width: 90%;
	font-size: 20px;
	margin: 0;
	padding: 5px;
	text-align: left;
	overflow-wrap: word-break;
	background-color: #99ccff;
	@include phone-portrait {
		font-size: 28px;
		color: #222;
	}
}

.footer {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 10px 5px 10px 5px;
}

.authorText {
	font-size: 18px;
	margin: 0;
	padding: 5px;
	text-align: left;
	overflow-wrap: word-break;
}

.cardActions {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include phone-portrait {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
}

.summaryBtn {
	margin: 5px;
	padding: 5px 7px 5px 7px;
	font-size: 12px;
	border-radius: 7px;
	background-color: #bde097;
	cursor: pointer;

	button {
		padding: 0;
		border: none;
		background-color: #bde097;
		cursor: pointer;
		@include phone-portrait {
			color: #222;
			padding: 5px;
			font-size: 18px;
			font-weight: 600;
		}
	}
}
