.bookViewContainer {
  position: relative;
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  height: 600px;
  width: 1000px;
  // background-color: aquamarine;
  top: 100px;
}

.summaryContainer {
  display: flex;
  flex-flow: column;
  width: 800px;
  top: 200px;
  font-size: 44;
  // background-color: bisque;
  border: 1px solid #ccc;
  color: purple;
}
