@import '../../../styles/scss/main.scss';

.bookPageContainer {
  position: relative;
  font-size: 20px;
  padding: 5px;
  text-align: left;
  overflow-wrap: word-break;
	display: flex;
	flex-flow: row;
	margin: 10px auto;
  // top: 100px;
  @include phone-portrait {
    font-size: 20px;
    color:#222;
    
  }
}

