@import '../../../styles/scss/main.scss';

.bookPageContainer {
  width:1000px;
  position: relative;
	margin: 10px auto;
  font-size: 20px;
  padding: 5px;
  text-align: left;
  overflow-wrap: word-break;
	display: flex;
	flex-flow: row;
  @include phone-portrait {
    font-size: 24px;
    color:#222;
  }
}

.additionalCatTitles {

}

