@import '../../../../styles/scss/main.scss';

.titlesMenuContainer {
	width: 300px;
	height: 600px;
	display: flex;
	flex-flow: column;
	left: 0;
	top: 300px;
  overflow-y: scroll;
  @include phone-portrait {
    display:none;
  }
}

.additionalCatTitles {
  padding: 0 5px;
  line-height: 0.8;
}

.titleLink {
  font-size: 16px;
  text-decoration: none;
  color:#000;
  padding:2px 10px;
}

.titleLink:hover {
  color:$softRed;
}
